.env
*.db
my_profile/
/my_profile_*
!/my_profile_example/
eval/eval_data/
eval/*.csv
!eval/eval_example.csv
__pycache__/
*.pyc
*.egg-info/
dist/
build/
debug/
output/
data/
.cache/
.venv/
*:Zone.Identifier
*.Zone.Identifier
